@import url("https://fonts.googleapis.com/css2?family=Abel&family=Akshar&family=IBM+Plex+Sans:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfa3cb;
  height: 30vh;
}

.h1_header {
  color: #ffff;
  font-size: 48px;
}

.section {
  height: 70vh;
}

.container-sobre-mim {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.container-sobre-mim img {
  width: 250px;
  border-radius: 30px;
}

.container-sobre-mim-texto {
  width: 50vw;
  margin: 10px;
}

.container-sobre-mim-texto p {
  font-size: 18px;
  margin: 18px 0;
}
hr {
  width: 70%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.projetos_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #dfa3cb;
  border-radius: 16px;
  width: 500px;
  height: 380px;
}

.titulo_card {
  color: #fff;
}

.ancora_card {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.card_img {
  width: 450px;
  height: 300px;
  margin-top: 10px;
}

.title_projetos {
  font-size: 48px;
  color: #dfa3cb;
  text-align: center;
}

.cards_repo_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap:30px;
  justify-content: center;
  margin: 50px auto;
}

.cards_repos{
  background-color:  #dfa3cb;
  border-radius: 4px;
  color: #fff;
  padding: 8px;
  height: 90px;
  width: 300px;

}
.ancora_card_repositorios{
  text-decoration: none;
  color: #fff;
  
}

.footer {
  background-color: #dfa3cb;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.footer p {
  color: #fff;
  font-size: 18px;
}
